.App {
    text-align: center;
}


.App-header {
    background-color: #282c34;
    min-height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

input:invalid {
    border: 2px dashed red;
}

input:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen);
}

input:valid {
    border: 2px solid black;
}
